exportPattern("^[[:alpha:]]+")

export("%^%")
export("%X%")

import("magrittr")
import("spray")

importFrom(partitions,blockparts)

importFrom(permutations,allperms)
importFrom(permutations,sgn)
importFrom(permutations,word)
importFrom(permutations,as.word)
importFrom(permutations,is.id)


S3method("as.function",ktensor)
S3method("as.function",kform)
S3method(Ops,kform)
S3method(Ops,ktensor)
